{% extends "bsh/index.html" %}
{% block section %}
	<div class='essence-container'>
		<div class='essence-background-opaq'></div>
		<div class='essence-img-div'>
			<img src="../../static/bsh/images/emma-main.jpg" class='essence-img'>
		</div>
		<h2 class='essence-title'>My Journey</h2>

		<div class='black-line-space'></div>
		<p class='essence-para'>I am a flower essence practitioner, herbalist, and plant medicine woman. Walking the path of a healer I act as bridge and conduit, a green witch weaving ancient practices into current reality. This is the path of the medicine woman who witnesses, inspires, and guides others along their journeys of healing, transformation, and discovery.</p>

		<p class='essence-para'>The work I do in personal healing sessions centers around the use of sacred vibrational plant medicine, which is an intuitive practice that combines intellect and familiarity with tree, plant and flower spirits. The use and formulation of flower essences is foundational to vibrational plant medicine, and my practice of it also includes aromatherapy or incense blends, plant oracle readings, and astroherbology. The intention in one-on-one consultations is to create a container for reconnection and empowerment, for beauty and rootedness to unfold.</p>

		<div class='black-line-space'></div>
		<div class='essence-img-div'>
			<img src="../../static/bsh/images/emma-2.jpg" class='essence-img'>
		</div>
		<div class='black-line-space'></div>
		<p class='essence-para'>The power and efficacy of plant medicines to bring the body, heart, mind and spirit into healthful harmony has been proven over and again across millennia and in every part of the world where humans and plants coexist. Flower essences in particular, do dynamic work to shift and realign the heart and soul processes that underlie our physical well-being, or that underlie patterns of dis-ease, stagnation, or discomfort.</p>
		<div class='black-line-space'></div>
		<div class='essence-img-div'>
			<img src="../../static/bsh/images/emma-3.jpg" class='essence-img'>
		</div>
		<div class='black-line-space'></div>
		<p class='essence-para'>The other way that flower essences work most profoundly is that they reconnect us to the rhythms and wisdom of the natural world, and encourage the rediscovery of our intimate place within it. As our modern world grows increasingly more artificial, most people spend less time interacting with and relying upon nature, and in this often gradual and invisible severance, we risk losing our sense wholeness. We risk losing touch with our marvelous birthright as embodied creatures to have a reciprocal relationship with the web of life that surrounds and sustains us. An aspect of this reciprocal relationship is the knowing that the universe holds unlimited potential energy that we can tap in to for healing, inspiration, understanding, and love, and flower remedies strengthen our capacity to do this. </p>
		<div class='black-line-space'></div>
		<div class='essence-img-div'>
			<img src="../../static/bsh/images/emma-4.jpg" class='essence-img'>
		</div>
		<div class='black-line-space'></div>
		<p class='essence-para'>I am so grateful to be able to do this work of facilitating co-creative healing with some of humanity’s most ancient allies and friends - the green growing and blooming ones - who offer us shelter, clothing, tools, food, medicine, pleasure, and revelation. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- Emma Day</p>
	</div>
{% endblock %}