{% extends "bsh/index.html" %}
{% block section %}
<div class='essence-container'>
	<div class='essence-background-opaq'></div>
	<div class='essence-img-div'>
		<img src="../../static/bsh/images/jacobsladder.jpg" class='essence-img'>
	</div>
	<h2 class='essence-title'>What Are Flower Essences?</h2>
	<div class='black-line-space'></div>
	<p class='essence-para essence-quote'><span class='quotations'>"</span>Flowers are the crowning achievement of the plant kingdom, divine expressions of creativity made manifest through heavenly scents and stunning displays of color. This divine creativity is also present on a subtle vibrational level, where each flower embodies a life-affirming pattern of conscious energy. These patterns have their origin in the higher dimensions and are manifested in our physical world through the specific form of each plant.
	Flower essences are a transference of these positive patterns of energy into a liquid medium. This is accomplished by placing healthy flowers that are at the peak of their blossoming cycle into a bowl of pure spring water, which is then left to potentize in the sun. The resulting infusion is then preserved and diluted for internal and external use.<span class='quotations'>"</span></p>
	<div class='black-line-space'></div>
	<p class='essence-para'>The positive patterns of energy embodied in flower essences awaken dormant qualities of consciousness within us and stimulate the release of blockages to our spiritual evolution, which can be seen as the ongoing process of anchoring our spiritual selves into our physical bodies.</p>
	<p class='essence-para'>Flower essences are unique in that they are a source of intelligent healing energy that is available to both educate and empower the person taking them. They may be readily introduced into any health care program, and do not interfere with nor are they adversely affected by other forms of treatment, such as homeopathic remedies or prescription drugs. They may be safely used by people of all ages, and can also be a gift of healing to members of the animal and plant kingdoms.</p>
	<div class='black-line-space'></div>
	<div class='essence-img-div'>
		<img src="../../static/bsh/images/icelandicpoppy.jpg" class='essence-img'>
	</div>
	<div class='black-line-space'></div>
	<p class='essence-para'>The essences that I use in my work with clients and community are from Alaska (Alaskan Essences) where the plant and elemental kingdoms are still intact, healthy, and exuberant because much of the state has never been impacted by human activity. All forms of life that live here have had to develop special adaptations to ensure their chances for survival in an extreme climate and an intense environment characterized by constant movement and change. These considerations are especially potent because as we begin a new century and a new millennium, the qualities that enable us to thrive in an environment of continual transformation are becoming increasingly relevant.</p>
	<div class='black-line-space'></div>
	<div class='essence-img-div'>
		<img src="../../static/bsh/images/wildiris.jpg" class='essence-img'>
	</div>
	<div class='black-line-space'></div>
	<p class='essence-para'>Flower remedies are tools of emotional freedom, of vision, stability, rootedness. They are guidance from the consciousness of plant to aid our life journeys and evolution. Their depth, breadth and scope of use are essentially unlimited, but I have experience and witnessed success using flower essences with:</p>
	<ul class='essence-ul-list'>
		<li class='essence-li-list'>Increasing awareness of the mind-body connection</li>
		<li class='essence-li-list'>Facilitate reflective self-awareness and responsibility</li>
		<li class='essence-li-list'>Develop a feeling of groundedness and stability</li>
		<li class='essence-li-list'>Become more in-touch with and caring towards the physical body</li>
		<li class='essence-li-list'>More vitality and energy</li>
		<li class='essence-li-list'>Harmonize relationships</li>
		<li class='essence-li-list'>Resolve energetic components to physical disease and illness</li>
		<li class='essence-li-list'>Greater resiliency</li>
		<li class='essence-li-list'>Offer guidance and support from the earth and from spiritual realms</li>
		<li class='essence-li-list'>Aids in life transitions like puberty, pregnancy, childbirth, menopause, changing careers, moving, etc.</li>
		<li class='essence-li-list'>Aids in emotional and behavioral transitions like breaking addictions, changing patterns, habits, etc.</li>
		<li class='essence-li-list'>Strengthens psychic senses and capacities while reinforcing protective boundaries</li>
		<li class='essence-li-list'>Harmonizes the chakras and the etheric and electrical systems of the body</li>
	</ul>
	<br>
</div>
{% endblock %}
