{% extends "bsh/index.html" %}
{% block section %}
	<div class='essence-container'>
		<div class='essence-background-opaq'></div>
		<div class='essence-img-div'>
			<img src="../../static/bsh/images/emma-main.jpg" class='essence-img'>
		</div>
		<h2 class='essence-title'>What is healing? It is many things… </h2>

		<div class='black-line-space'></div>
		<p class='essence-para'>Firstly it is the transition from dis-harmony into harmony. Healing is reclaiming our power, taking it back from trauma, fear, grief, betrayal,  anger, resentment. It is also working on relationship - to self and other, to all creatures on the plant, to our purpose, will and passion, to our joy.</p>

		<p class='essence-para'>Healing is engaging with the unknown, uncertain, and unexplored to then then overcome the limitations we have created to survive so we we may truly thrive. Well-being is more than the absence of disease, it is peace of mind and an abundance of vitality.</p>

		<div class='black-line-space'></div><br>
		<h2 class='essence-title'>free informational consultation</h2>
		<p class='essence-para'>Get in <a href='contact'>contact</a> to schedule, or simply come in to the Cunning Crow Apothecary on Thursdays (Emma’s office day) from noon to 8pm for a FREE 15-30 minute informational consultation with Emma Day about sacred vibrational plant medicine and flower essence therapy. </p>
	</div>
{% endblock %}